<div>
  <%= @shipping_company.name%>
</div>
<div>
Razão social: <%= @shipping_company.corporate_name%>
</div>
<div>
CNPJ: <%= @shipping_company.cnpj%>
</div>
<div>
Endereço para faturamento: <%= @shipping_company.billing_adress%>
</div>
<div>
  <% if @shipping_company.active == true%>
    Está ativa
  <% else%>
    Está inativa
  <%end%>
</div>
<div>
Domínio de e-mail: <%= @shipping_company.email_domain%>
</div>

<div>
<%= link_to 'Ordens de Serviço', shipping_company_order_index_path(@shipping_company.id)%>
</div>
<%if admin_signed_in?%>
  <div>
    <%= link_to 'Editar', edit_shipping_company_path%>
  </div>
  <%if @shipping_company.active == true%>
    <div>
      <%= button_to 'Desativar', status_change_shipping_company_path(@shipping_company.id), method: :patch, params: {:active => false}%>
    </div>
  <%else%>
    <div>
      <%= button_to 'Reativar', "/shipping_companies/#{@shipping_company.id}", method: :patch, params: {:active => true}%>
    </div>
  <%end%>
<%end%>