<table>
  <tr>
    <th>Volume m³ |</th>
    <th>Peso Kg |</th>
    <th>Preço por Km</th>
  </tr>
  <% @price_line.each do |pl|%>
    <tr>
      <td><%= pl.minimum_volume%> - <%= pl.maximum_volume%></td>
      <td><%= pl.minimum_weight%> - <%= pl.maximum_weight%></td>
      <td>R$<%= money_format(pl.value)%></td>
      <td> <%=button_to 'Excluir', price_line_path(pl.id), method: :delete%></td>
    </tr>
  <%end%>
</table> 

<strong>Valor mínimo = R$<%=money_format(@shipping_company.minimum_value)%> </strong>
<div>
  <%= form_with model: @shipping_company, url: "/shipping_companies/#{@shipping_company.id}/minimum_value_update", method: :patch do |f|%>
    <%= f.label :minimum_value, 'Novo preço mínimo'%>
    <%= f.number_field :minimum_value, autocomplete: 'XX,XX'%>
    <%= f.submit 'Atualizar'%>
  <%end%>

</div>

<%=link_to 'Cadastrar Linha', new_shipping_company_price_line_path(@shipping_company)%>