<h3><%=@order.code%></h3>
<dl>
  <dt>Transportadora - </dt>
    <dd><%=@order.shipping_company.name%></dd>
  <dt>Distância Km - </dt>
    <dd><%=@order.distance%></dd>
  <dt>Orçamento - </dt>
    <dd>R$<%=money_format(@order.value)%></dd>
  <dt>Data de entrega - </dt>
    <dd><%=@order.date%></dd>
  <dt>Código do produto - </dt>
    <dd><%=@order.product_code%></dd>
  <dt>Volume m³ - </dt>
    <dd><%=@order.width*@order.height*@order.depth%></dd>
  <dt>Peso Kg - </dt>
    <dd><%=@order.weight%></dd>
  <dt>Endereço de retirada - </dt>
    <dd><%=@order.pickup_adress%></dd>
  <dt>Endereço de entrega - </dt>
    <dd><%=@order.delivery_adress%></dd>
  <dt>CPF do destinatário - </dt>
    <dd><%=@order.cpf%></dd>
  <dt>Admin responsável - </dt>
    <dd><%=@order.admin.email%></dd>
  <dt>Status - </dt>
    <dd><%=@order.status%></dd>
  <%if @order.vehicle_id != nil%>
    <dt>Veículo - </dt>
      <dd><%=Vehicle.find(@order.vehicle_id).plate%></dd>
  <%end%>
</dl>

<p>Histórico</p>
<% @update_lines.each do |ul|%>
  <div>
    <%= l ul.created_at%> -------------- <%= ul.coordinates%>
  </div> 
<%end%>

<% if user_signed_in? && @order.status == 'pendente' %>
  <%=form_with model: @order, url: "/order/#{@order.id}" do |form|%>
    <%=form.label :vehicle_id, 'Veículo'%>
    <%=form.collection_select :vehicle_id, @vehicles, :id, :plate%>
    <%=form.hidden_field :status, value: :ativa%>
    <%=form.submit 'Aceitar'%>
  <%end%>
  <%=form_with model: @order, url: "/order/#{@order.id}" do |form|%>
    <%=form.hidden_field :status, value: :cancelada%>
    <%=form.submit 'Negar'%>
  <%end%>
<% elsif user_signed_in? && @order.status == 'ativa' %>
  <%=form_with url: new_ul_order_path(@order.id) do |form|%>
    <%=form.label :latitude%>
    <%=form.number_field :latitude%>
    <%=form.label :longitude%>
    <%=form.number_field :longitude%>
    <%=form.hidden_field :order, value: @order.id%>
    <%=form.submit 'Atualizar'%>
  <%end%>
  <%=form_with model: @order, url: "/order/#{@order.id}" do |form|%>
    <%=form.hidden_field :status, value: :finalizada%>
    <%=form.submit 'Finalizar'%>
  <%end%>
  <%=form_with model: @order, url: "/order/#{@order.id}" do |form|%>
    <%=form.hidden_field :status, value: :cancelada%>
    <%=form.submit 'Cancelar'%>
  <%end%>
<%end%>