<%= form_with model: @delivery_time_line, url: delivery_time_line_index_path do |form|%>
  <div>
    <%=form.label :init_distance%>
    <%=form.number_field :init_distance%>
    <%=form.label :final_distance%>
    <%=form.number_field :final_distance%>
  </div>
  <div>
    <%=form.label :delivery_time%>
    <%=form.number_field :delivery_time%>
  </div>
  <%=form.submit 'Cadastrar'%>

<%end%>