<!DOCTYPE html>
<html>
  <head>
    <title>ECommerceDeliverySystem</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <h1>Sistema de frete</h1>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>

      <% if admin_signed_in? == true %>
        <nav>
          <%=link_to("Consulta de Preço", '/banna_path')%> | 
          <%=link_to("Transportadoras Cadastradas", shipping_companies_path)%> |
          <%=link_to("Cadastrar Transportadora", shipping_companies_path)%> | 
          <%=button_to "Sair", destroy_admin_session_path, method: :delete%>
        </nav>
      <%end%>
    </header>
    <%= yield %>
  </body>
</html>
